@page "/"

<h3>Blazor Web Assembly Test - Using Local Statistical Computations</h3>
<small class="form-text text-muted">
    <b>Last Updated:</b>
    11/17/2020 - .NET 5.0 RTM
</small>
<br />
<b>Blazor .NET Core 3.x Location:</b>
<a href="https://statisticsandblazordotnetcore3.azureedge.net/" target="_blank">Blazor .NET Core 3.x Location</a>
<br />
<b>Blazor .NET 5 RTM Location:</b>
<a href="https://statisticsandblazordotnet5.azureedge.net/" target="_blank">Blazor .NET 5 RTM Location</a>