@page "/"

<h3>Blazor Web Assembly Test - Using Local Statistical Computations</h3>
<small class="form-text text-muted">
    <b>Last Updated:</b>
    11/15/2020 - .NET 5.0 RTM
</small>
<br />
<b>Blazor .NET Core 3.x Location:</b>
<a href="https://statisticsandml.z20.web.core.windows.net/">Blazor .NET Core 3.x Location</a>
<br />
<b>Blazor .NET 5 RTM Location:</b>
<a href="https://statisticsandmldotnet5.z20.web.core.windows.net/">Blazor .NET 5 RTM Location</a>